- var colors = ["gray", "brown", "orange", "yellow", "green", "blue", "purple", "pink", "red"];

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Notion+ Mark Manager Options
    link(rel="stylesheet", href="css/options.scss")

  body
    form#form
      fieldset
        legend.text-colors Choose the text colors you want to load:
        div
          h5 font color
          .options-wrapper.options-wrapper--text-colors
            each color in colors
              div
                label
                  input(id=`font-${color}`, type="checkbox", name="color-name" value=`font-${color}`)
                  div
                    .checkbox
                      svg.checked-icon(viewBox="0 0 14 14")
                        polygon(points="5.5 11.9993304 14 3.49933039 12.5 2 5.5 8.99933039 1.5 4.9968652 0 6.49933039")
                      svg.unchecked-icon(viewBox="0 0 16 16")
                        path(d="M1.5,1.5 L1.5,14.5 L14.5,14.5 L14.5,1.5 L1.5,1.5 Z M0,0 L16,0 L16,16 L0,16 L0,0 Z")
                  span= color
        div
          h5 background color
          .options-wrapper.options-wrapper--text-colors
            each color in colors
              div
                label
                  input(id=`background-${color}`, type="checkbox", name="color-name" value=`background-${color}`)
                  div
                    .checkbox
                      svg.checked-icon(viewBox="0 0 14 14")
                        polygon(points="5.5 11.9993304 14 3.49933039 12.5 2 5.5 8.99933039 1.5 4.9968652 0 6.49933039")
                      svg.unchecked-icon(viewBox="0 0 16 16")
                        path(d="M1.5,1.5 L1.5,14.5 L14.5,14.5 L14.5,1.5 L1.5,1.5 Z M0,0 L16,0 L16,16 L0,16 L0,0 Z")
                  span= color

      fieldset
        legend Choose the tab you want to show first:
        .options-wrapper.options-wrapper--either-or
          div
            label
              input#colored-texts(type="radio", name="tab", value="colored-texts")
              span Colored Texts
          div
            label
              input#comments(type="radio", name="tab", value="comments")
              span Comments

      fieldset
        legend If a block contains two or more text colors, display this block...
        .options-wrapper.options-wrapper--either-or
          div
            label
              input#once(type="radio", name="displayed-times", value="once")
              span only once
          div
            label
              input#more(type="radio", name="displayed-times", value="more")
              span two or more times
      .save-wrapper
        button.primary(type="submit") Save
        .form-status#form-status

    script(src="js/options.js")